hello,
.tips {
  font-family: Lato;
}
h1,
input,
button,
label {
  margin: 10px;
}

button {
  padding: 6px;
  background-color: #eee;
}

button:hover {
  background-color: #ccc;
}
button:active {
  background-color: #bbb;
}
